.container
  %nav
    %ul
      %li.logo FootPrint
      %li=link_to "Authorize with Moves", '/auth/moves'
      %li=button_to "delete", session_path(@user.object_id), :method=>:delete, :class=>:destroy
