.container
  %nav
    %ul
      %li.logo 
        %h3 FootPrint
      %li 
      %li= link_to "Logout", "#"
      %li=link_to "Authorize with Moves", '/auth/moves'
      %li=button_to "delete", session_path(@user.object_id), :method=>:delete, :class=>:destroy
  #daily-score
    %h1 7.5
  #dashboard
    #activity
    #rankings
      %ul
      - @friends.each_with_index do |friend, index|
        %li= link_to "#{index + 1} #{friend.name}", user_path(friend)