<header>
  <h1>Footprints</h1>
</header>

<div id="login-box">
  <h2>Welcome to Footprints</h2>
  <p>Join us in helping measure and compare your carbon footprint as you move around!</p>
  <form action="">
    <input type="text" class="login-input"placeholder="USERNAME">
    <input type="text" class="login-input"placeholder="PASSWORD">
    <input type="submit" class="login-button" value="login">
  </form>
  image_tag("moves_logo.png")
</div>
