// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: url('background.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1{
  font-size: 5em;
  text-align: center;
  color:white;
}
#login-box{
  background-color: rgba(255, 255,255, 0.7);
  width: 400px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 20px;
  border: 5px solid #6ecce5;
}

.login-input {
  width: 380px;
  border: 1px solid #999;
  height: 25px;
  display: block;
  margin: 10px 0px;
  padding: 5px 0 5px 15px;
}

.login-button{
  font-size: 2em;
  width: 400px;
  background-color: #FC943A;
  border : 0px;
  display: block;
  color:white;
  padding:5px;
  margin-right: 40px;
}
