// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-image: url('background.jpeg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  font-size: 5em;
  text-align: center;
  color:white;
}
#login-box{
  background-color: rgba(255, 255,255, 0.7);
  width:40%;
  padding: 20px 0 0 20px;
  margin: 0 auto;
  height:300px;
}

.login-input {
  width:90%;
  border: 1px solid #999;
  height: 25px;
  display: block;
  margin: 0 auto;
  margin: 10px 10px 10px 10px;
  padding: 5px 0 5px 15px;
}

.login-button{
  background-color: #FC943A;
  border : 0px;
  width:20%;
  color:white;
  float:right;
  padding:5px;
  margin-right: 40px;
}
